<ion-view title="Info" id="page9">
    <ion-content padding="true" class="has-header"><div class="list card">
		  <div class="item item-avatar">
		    <img src="img/perfil.jpg">
		    <h2>Demian Acosta</h2>
		    <p>4 'A'</p>
		  </div>

		  <div class="item item-body" >
		    <p>
		    	<img src="img/mail.png" style="width:20px;height:20px;"> Email: acostademianariel@gmail.com
		    	</br>
		    	<img src="img/github.png" style="width:24px;height:20px;">GitHub: github.com/AcostaDemian
		    </p>
		  </div>

		</div>
		<div style="text-align:right;">
		    <img src="img/pokedex.png" style="width:165px;height:145px;">
		</div>
	</ion-content>
</ion-view>