<ion-view title="Login" id="page4">
    <ion-content padding="true" style="background: url(img/iZN8M5sEQzulW8VkYZG5_log.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form3" class="list">
            <ion-list id="login-list2">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 66px;"></div>
            <a ui-sref="menu.inicio" ng-click="login()" id="login-button5" class="button button-stable  button-block">Entrar</a>
        </form>
    </ion-content>
</ion-view>