<ion-view title="Piano" id="page2">
    <ion-content padding="true" style="background: url(img/geasUljrR7aQSZaM9QWv_piano.jpg) no-repeat center;background-size:cover;" class="has-header">

        <div class="spacer" style="width: 300px; height: 110px;"></div>
        <div style="text-align:center;">
	        <button style="background: url(img/pikachu.png);width:65px;height:65px;margin:10px;border:0px;"
			    ng-click="pikachu()"></button>
	        <button style="background: url(img/haunter.png);width:65px;height:65px;margin:10px;border:0px;"
			    ng-click="haunter()"></button>
			<button style="background: url(img/mr-mime.png);width:65px;height:65px;margin:10px;border:0px;"
			    ng-click="mrmine()"></button>
			<button style="background: url(img/ninetales.png);width:65px;height:65px;margin:10px;border:0px;"
			    ng-click="ninetales()"></button>
			<button style="background: url(img/charizard.png);width:65px;height:65px;margin:10px;border:0px;"
			    ng-click="charizard()"></button>
			<button style="background: url(img/rapidash.png);width:65px;height:65px;margin:10px;border:0px;"
			    ng-click="rapidash()"></button>
			    {{secuencia}}
		</div>
    </ion-content>
</ion-view>